<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        {% include "partials/_head.html" %}
        <title>
            {% block title %}
            {% endblock title %}
        Hello, world!</title>
    </head>
    <body class="sticky-nav">
        {% include "partials/_nav.html" %}
        <main class="container mb-4 mt-4 flex-grow-1-custom">
            {% include "partials/_messages.html" %}
            {% block conteudo %}
            {% endblock conteudo %}
        </main>
    </body>
    {% include "partials/_footer.html" %}
</html>
